@media (max-width: 700px) {
    .text-icon {
        display: none;
    }

    ul.meniu {
        > li {
            width: 60px;
            height: 60px;
            line-height: 60px;
            padding: 0;
        }

        ul {
            margin-left: 60px;
            margin-top: -40px;
            width: 150px;
            padding-left: 0;
        }
    }

    .imag-icon span {
        font-size: 1.6rem;
        margin: 0;
    }
}
