.orar-container {
    overflow-x: auto;
    padding-bottom: 10px;
}

#tab-orar {
    width: 100%;
    border-collapse: collapse;
    margin: 30px 0;
    font-family: "Segoe UI", sans-serif;
    background-color: var(--color-1);
    border: 6px inset var(--color-4);
    border-radius: 10px;
    overflow: hidden;

    caption {
        caption-side: bottom;
        padding: 12px 16px;
        font-size: 1.2rem;
        font-weight: 700;
        color: var(--color-5);
        background-color: var(--color-4);
        text-align: center;
        letter-spacing: 0.03em;
    }

    thead {
        th {
            background-color: var(--color-3);
            color: var(--color-5);
            padding: 12px;
            font-size: 1.1rem;
            font-weight: bold;
            text-align: center;
            border-bottom: 3px solid var(--color-4);
        }
    }

    tbody {
        tr {
            &:nth-child(even) {
                border-bottom: 2px solid var(--color-3);

                td {
                    background-color: var(--color-2);
                }

                &:hover {
                td,
                th {
                    outline: 6px solid var(--color-5);
                    outline-offset: -3px;
                }

                td[rowspan],
                th[rowspan] {
                    outline: none !important;
                }
            }
            }

            &:nth-child(odd) {
                border-bottom: 2px solid var(--color-4);
            }


            &:hover {
                td,
                th {
                    outline: 6px solid var(--color-4);
                    outline-offset: -3px;
                }

                td[rowspan],
                th[rowspan] {
                    outline: none !important;
                }
            }

            td,
            th {
                transition: outline 0.5s ease;
            }


        }

        td {
            padding: 10px;
            text-align: center;
            color: var(--color-5);
            background-color: var(--color-1);

            &[rowspan] {
                background-color: var(--color-3);
                color: var(--color-5);
                font-weight: bold;
            }

            &[rowspan="2"] {
                background-color: var(--color-4) !important;
                color: var(--color-1);
            }
        }
    }

    tfoot {
        td {
            background-color: var(--color-4);
            color: var(--color-1);
            padding: 14px;
            font-weight: bold;
            text-align: center;
        }
    }
}

/* lățimi coloane */
.th-1 {
    width: 1fr;
}

.th-2 {
    width: 2fr;
}
