@media (max-width: 1000px) {

    header nav ul {
        gap: 8px;
    }

    header nav ul li > a {
        width: 90px;
        height: 90px;
        font-size: 0.9rem;
    }

    header nav ul li.brand img {
        width: 50px;
    }

    header nav ul li.brand h1 {
        font-size: 1rem;
    }

    /* dropdown puțin mai compact */
    header nav ul li > ul li a {
        width: 130px;
        font-size: 0.85rem;
    }
}
